.dropdown-toggle img{
  width: 25px;
}
.search-contailner{
  display: flex;
  flex-direction: row;
}
.search-contailner label {
  padding: 10px 0px;
  margin-right: -26px;
  cursor: pointer;
  z-index: 1000;
  font-size: 16px;
  color: #c2c2c2;
}
.search-custom{
  padding-left: 32px;
  margin-top: 3px;
  width: 40px;
  border: 0px solid #eaeaea;
  box-shadow: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #c8c8c8;
  font-weight: 300;
}

.search-select{
  width: 280px;
  border: 1px solid #eaeaea;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.search:focus {
  outline:none!important;
}

.sidebar-toggle-box {
  display: none;
}

.i-home{
  color: #666666;
}