.forgot-password-component{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.forgot-password-component__form{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 350px;
}

.forgot-password-component__form > *{
    width: 100%;
}

.forgot-password-component__form button{
    width: 100%;
}