<div class="row  align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
        <h3><i class="fa fa-sitemap "></i> Cấu hình Menu</h3>
        <p>Cấu hình Menu</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
        <form [formGroup]="createMenuNode" (ngSubmit)="submit()">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Thêm node Menu mới</h5>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Tên chuyên mục" formControlName="name">
                            <mat-error *ngFor="let validation of createMenuNodeValidateMessage.name">
                                <mat-error class="error-message"
                                           *ngIf="createMenuNode.get('name').hasError(validation.type)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Danh mục cha</mat-label>
                            <mat-select [(value)]="defaultParent" formControlName="parent">
                                <mat-option value="0">Mục gốc</mat-option>
                                <mat-option *ngFor="let t of listMenuNode.data" [value]="t.id">
                                    {{t.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Menu dành cho</mat-label>
                            <mat-select [(value)]="defaultType" formControlName="menu_type">
                                <mat-option value="taxonomy">Danh mục</mat-option>
                                <mat-option value="page">Trang tĩnh</mat-option>
                                <mat-option value="custom">Đường dẫn tùy chỉnh</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group" *ngIf="defaultType === 'page'">
                        <mat-form-field>
                            <mat-label>Trang tĩnh</mat-label>
                            <mat-select [(value)]="selectedPage" formControlName="menu_page">
                                <mat-option *ngFor="let t of listPage" [value]="t.id">
                                    {{t.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group" *ngIf="defaultType === 'taxonomy'">
                        <mat-form-field>
                            <mat-label>Danh mục</mat-label>
                            <mat-select [(value)]="selectedTaxonomy" formControlName="menu_taxonomy">
                                <mat-option *ngFor="let t of listTaxonomy" [value]="t.id">
                                    {{t.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Slug" value="" formControlName="slug" disabled>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Chọn làm trang chủ</mat-label>
                            <mat-select [(value)]="setHome" formControlName="is_home">
                                <mat-option value="1">Có </mat-option>
                                <mat-option value="0">Không</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Trạng thái</mat-label>
                            <mat-select [(value)]="defaultStatus" formControlName="status">
                                <mat-option value="active">Kích hoạt</mat-option>
                                <mat-option value="disable">Lưu nháp</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px">Lưu lại</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-11">
        <table mat-table [dataSource]="listMenuNode" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>#ID</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Tên node</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="parent">
                <th mat-header-cell *matHeaderCellDef> Node cha</th>
                <td mat-cell *matCellDef="let element">{{element.parent !== 0 ? element.parent_name : '--Root--'}}</td>
            </ng-container>

            <ng-container matColumnDef="slug">
                <th mat-header-cell *matHeaderCellDef>Slug</th>
                <td mat-cell *matCellDef="let element">{{element.slug}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                <td mat-cell *matCellDef="let element">{{element.status}}</td>
            </ng-container>

            <ng-container matColumnDef="thaotac">
                <th mat-header-cell *matHeaderCellDef width="150"> Thao tác</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/cms/taxonomy/edit', element.id]" class=" btn btn-link btn-sm "><i class="fa fa-edit"></i></a>
                    <a (click)="deleteMenu(element.id)" class="btn btn-link btn-sm" data-toggle="confirmation" data-url="">
                        <i class="fa fa-trash-o "></i>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>
