<div class="row">
  <div class="col-sm-16">
    <div class="card">
      <div class="card-header" style="display: flex;">
        <h5 class="card-title">{{ 'list-role.Title' | translate }}</h5>
        <div style="margin-left: auto;">
            <button mat-stroked-button matTooltip="Tạo mới nhân viên" (click)="createNewRole()">
                <mat-icon svgIcon="add"></mat-icon>
              </button>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="searchForm">
          <div class="row  align-items-center justify-content-between">
            <div class="col-2 col-sm-3 ">

              <mat-form-field>
                <input #user_name formControlName="search_str" matInput placeholder="{{ 'list-role.find' | translate}}">
                <mat-icon [svgIcon]="user_name.value=='' ? 'search': 'close'" matSuffix></mat-icon>
              </mat-form-field>

            </div>

          </div>
        </form>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="role_table " multiTemplateDataRows>
            <!-- number -->
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef="let role; let i = dataIndex"> {{i+1}} </td>
            </ng-container>

            <!-- name -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>{{ 'list-role.ID' | translate }} </th>
              <td mat-cell *matCellDef="let role; let i = index"> {{role.id}} </td>
            </ng-container>

            <!-- name -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ 'user.name' | translate}} </th>
              <td mat-cell *matCellDef="let role; let i = index"> {{role.name}} </td>
            </ng-container>



            <!-- email -->
            <ng-container matColumnDef="display_name">
              <th mat-header-cell *matHeaderCellDef>{{ 'list-role.DisplayName' | translate }} </th>
              <td mat-cell *matCellDef="let role; let i = index"> {{role.display_name}} </td>
            </ng-container>

            <!-- email -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>{{  'list-role.Description' | translate }} </th>
              <td mat-cell *matCellDef="let role; let i = index"> {{role.description}} </td>
            </ng-container>

            <!-- action -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> {{ 'list-role.Action' | translate }}</th>
              <td mat-cell *matCellDef="let role; let i = index" (click)="$event.stopPropagation();">
                <ng-container>
                  <button (click)="UpdateRole(role)" mat-stroked-button
                    color="primary">{{ 'list-role.UpdateAction' | translate }}</button>
                  <button (click)="DeleteRole(role)" mat-stroked-button
                    color="primary">{{ 'list-role.DeleteAction' | translate }}</button>
                </ng-container>
              </td>
            </ng-container>

            <!-- expanded Detail -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" class="detail-row-content">
                  <app-role-item-expansion *ngIf="element == expandedElement" [Role]="element">
                  </app-role-item-expansion>
                </div>
              </td>
            </ng-container>

            <!-- no data display column -->
            <ng-container matColumnDef="noDataRow">
              <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                <div>
                  <span>{{ 'list-role.NoData' | translate}}</span>
                </div>
              </td>
            </ng-container>

            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"
              [class.expanded-row]="expandedElement === row" matTooltip="Click vào để xem chi tiết"
              (click)="expandedElement = expandedElement === row ? null : row;"></tr>

            <tr mat-footer-row *matFooterRowDef="['noDataRow']"
              [attr.class]="role_table && role_table.data &&role_table.data.length>0? 'table-no-data-row has-data':'table-no-data-row has-no-data' ">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>