<section id="main-content">
  <section class="wrapper-2 wrapper">
      <!-- page start-->
      <div class="row">
          <div class="col-md-12">
              <section class="panel tasks-widget">
                  <header class="panel-heading" style="display: flex; padding-bottom: 0px;">
                      <p class="task-title-sp"><a  style="font-weight: 700;" rou>{{currentPost.post_title}}</a> </p>
                      <p style="margin-left: 15px;padding-top: 5px;" class="badge badge-sm label-success">{{currentPost.post_slug}}</p>
                  </header>
                  <div class="panel-body">
                      <div style="margin-right:15px;" class="task-content" [innerHTML]="currentPost.post_content">
                      </div>
                      <div class=" add-task-row">
                        <span class= "btn-sm pull-left">
                          <b>Tác giả: {{currentPost.post_author}}</b>  <b style="margin-left: 20px;">Ngày tạo: {{currentPost.publish_at | date: 'dd-MM-yyyy'}}</b>
                        </span>
                        <a style="margin-right:15px" class="btn btn-default btn-sm pull-right"  [routerLink]="['/notification']">Danh sách bài viết</a>
                      </div>
                  </div>
              </section>
          </div>
      </div>
      <!-- page end-->
  </section>
</section>
