.p-thumb img {
  width: 150px;
  height: 100px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.media-body{
  position: relative;
}

.media-body .view {
  position: absolute;
  top: 5px;
  right: 30px;
  color: crimson;
  font-size: smaller;
}
.song-content{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.media:first-child {
  margin-top: 15px;
}

.animated-linear-gradient {
  background: repeating-linear-gradient(to right, red 0%, blue 50%, red 100%);
  width: 100%;
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  padding: 0 10px;
  border-radius: 9999px
}