::ng-deep .no-result{
  text-align: center;
  background-color: #fff;
  height: 85vh;
}

::ng-deep .task-content{
   min-height: calc(100vh - 281px);
}

#main-content .wrapper{
  min-height: 800px;
}

.load img{
  width: 100%;
  height: 100vh;
}