<figure class="background"> <img src="../../../../assets/img/login_bg.jpg" alt="Adminux- sign in "> </figure>
<div class="forgot-password-component">
    <div class="animated fadeIn">
      <mat-card>
        <mat-card-title>Quên mật khẩu</mat-card-title>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="submit()" class="forgot-password-component__form">
            <mat-form-field>
              <input matInput formControlName="email" placeholder="Nhập email">
            </mat-form-field>
  
            <div>
              <button type="submit" mat-flat-button color="primary">Xác nhận</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>