<div class="row  align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
        <h3><i class="fa fa-sitemap "></i> Chuyên mục</h3>
        <p>Sửa chuyên mục </p>
    </div>
</div>

<form [formGroup]="editTaxonomy" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Sửa chuyên mục</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Tên chuyên mục" formControlName="name" (keyup)="name_change($event)">
                            <mat-error *ngFor="let validation of edit_taxonomy_validation_messages.name">
                                <mat-error class="error-message"
                                    *ngIf="editTaxonomy.get('name').hasError(validation.type)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Slug" value="" formControlName="slug">
                            <mat-error *ngFor="let validation of edit_taxonomy_validation_messages.slug">
                                <mat-error class="error-message"
                                    *ngIf="editTaxonomy.get('slug').hasError(validation.type)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Danh mục cha</mat-label>
                            <mat-select [(value)]=currentTaxonomy.parent formControlName="parent">
                                <mat-option value="0">Mục gốc</mat-option>
                                <mat-option *ngFor="let t of listTaxonomy.data" [value]="t.id">
                                    {{t.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Thao tác</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Trạng thái</mat-label>
                            <mat-select [(value)]="defaultStatus" formControlName="status">
                                <mat-option value="active">Kích hoạt</mat-option>
                                <mat-option value="disable">Lưu nháp</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px">Lưu lại</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>