<div class="row  align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
        <h3><i class="fa fa-sitemap "></i> Menu</h3>
        <p>Danh sách các vị trí Menu trong hệ thống</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-16">
        <table mat-table [dataSource]="listMenu" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef width="100">#ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}}</td>
            </ng-container>
            
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Tiêu đề </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Vị trí </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="thaotac">
                <th mat-header-cell *matHeaderCellDef width="150"> Cấu hình</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/cms/menunode/index', element.id]" class=" btn btn-link btn-sm "><i class="fa fa-cog"></i></a>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator 
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>
