<div class="container">

  <form [formGroup]="form" class="form-signin" (ngSubmit)="submit()">
    <h2 class="form-signin-heading">registration now</h2>
    <div class="login-wrap">
        <p>Enter your personal details below</p>
        <input formControlName="user_name" type="text" class="form-control" placeholder="Full Name" autofocus>
        <div class="block-input">
          <input formControlName="email" type="text" class="form-control" placeholder="Nhập email" autofocus>
          <div class="error" *ngFor="let validation of account_validation_messages.email">
            <mat-error class="error-message"
            *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">{{validation.message}}</mat-error>
          </div>
        </div>
        <input formControlName="phone_number" type="number" class="form-control" placeholder="Nhập Số điên thoại" autofocus>
        <div class="radios">
            <label class="label_radio col-lg-6 col-sm-6" for="radio-01">
                <input type="radio" formControlName="gender" name="gender" id="radio-01" value="male"  checked /> Male
            </label>
            <label class="label_radio col-lg-6 col-sm-6" for="radio-02">
                <input type="radio" formControlName="gender" name="gender" id="radio-02" value="female"  /> Female
            </label>
        </div>

        <p> Enter your account details below</p>
        <div class="block-input">
          <input formControlName="account_id" type="text" class="form-control" placeholder="User Name" autofocus>
          <div class="error" *ngFor="let validation of account_validation_messages.account_id">
            <mat-error class="error-message"
            *ngIf="form.get('account_id').hasError(validation.type) && (form.get('account_id').dirty || form.get('account_id').touched)">{{validation.message}}</mat-error>
          </div>
        </div>
        <div class="block-input">
          <input formControlName="password" type="password" matInput class="form-control"  placeholder="Password" ngDefaultControl>
          <div class="error" *ngFor="let validation of account_validation_messages.password">
            <mat-error class="error-message"
                *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
                {{validation.message}}
            </mat-error>
          </div>
        </div>
        <div class="block-input">
           <input formControlName="confirm_password" type="password" class="form-control"  matInput placeholder="Xác nhận mật khẩu*" [type]="!showConfirmPassword ? 'password' : 'text'"
          ngDefaultControl [errorStateMatcher]="confirmPasswordValidator">
          <div class="error" *ngFor="let validation of account_validation_messages.confirm_password">
            <mat-error *ngFor="let validation of account_validation_messages.confirm_password">
              <mat-error class="error-message" *ngIf="form.get('confirm_password').hasError(validation.type) && (form.get('confirm_password').dirty || form.get('confirm_password').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </div>
        </div>
        <label class="checkbox">
            <input formControlName="agree" type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy
        </label>
        <div class="error" *ngFor="let validation of account_validation_messages.agree">
          <mat-error *ngFor="let validation of account_validation_messages.agree">
            <mat-error class="error-message" *ngIf="form.get('agree').hasError(validation.type) && (form.get('agree').dirty || form.get('agree').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </div>
        <button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>

        <div class="registration">
            Already Registered.
            <a [routerLink]="['/login']">
                Login
            </a>
        </div>

    </div>

  </form>

</div>