<div class="row">
    <div *ngIf="listFavorites && listFavorites.length" class="col-lg-12">
        <!--notification start-->
        <section class="panel" style="min-height: 755px;">

            <div class="panel-body">
                <div class="tab-content tasi-tab">
                    <div class="tab-pane active" id="popular">
                        <div class="row">
                            <article  *ngFor="let song of listFavorites; index as i; first as isFirst" class=" col-md-4 media">
                                <a class="pull-left thumb p-thumb">
                                    <img src="{{song.link_image}}">
                                </a>
                                <div class="media-body" style="position: relative;">
                                    <a class=" p-head" [routerLink]="['/detail', song.song_id]" [queryParams]="{}" >{{song.name}}</a>
                                    <p class="song-content">{{song.content[0]}}<br>{{song.content[1]}}</p>
                                    <b>{{song.singer}}</b>
                                    <p class="more-infor"><span class="like"><app-like-song [id_song]="song.song_id"></app-like-song></span></p>
                                    <p class="view"><i class="icon-headphones"></i> {{song.view}}</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane" id="comments">
                        <article class="media">
                            <a class="pull-left thumb p-thumb">
                                <img src="./assets/theme/img/avatar-mini.jpg">
                            </a>
                            <div class="media-body">
                                <a class="cmt-head" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                                <p> <i class="icon-time"></i> 1 hours ago</p>
                            </div>
                        </article>
                        <article class="media">
                            <a class="pull-left thumb p-thumb">
                                <img src="./assets/theme/img/avatar-mini2.jpg">
                            </a>
                            <div class="media-body">
                                <a class="cmt-head" href="#">Nulla vel metus scelerisque ante sollicitudin commodo</a>
                                <p> <i class="icon-time"></i> 23 mins ago</p>
                            </div>
                        </article>
                        <article class="media">
                            <a class="pull-left thumb p-thumb">
                                <img src="./assets/theme/img/avatar-mini3.jpg">
                            </a>
                            <div class="media-body">
                                <a class="cmt-head" href="#">Donec lacinia congue felis in faucibus. </a>
                                <p> <i class="icon-time"></i> 15 mins ago</p>
                            </div>
                        </article>
                    </div>
                    <div class="tab-pane " id="recent">
                        Recent Item goes here
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div *ngIf="(listFavorites && !listFavorites.length)" class="col-lg-12 no-result" >
       <img src="https://mantuatownship.com/wp-content/uploads/2018/01/no-results-empty-state.jpg" alt="">
    </div>
</div>