.mat-elevation-z8 {
  margin: 20px 0px;
}

th>.option-info:nth-child(1),
td>.option-info:nth-child(1) {
  color: #50bedc;
}

th>.option-info:nth-child(2),
td>.option-info:nth-child(2) {
  color: #6496DC;
}

th>.option-info:nth-child(3),
td>.option-info:nth-child(3) {
  color: #825AB4;
}