.media-body{
  color: #0b0b0b;
  font-size: 15px;
}
.media{
  margin-top: 15px;
  text-align: left !important;
  padding-left: 20px;
  border-bottom: dashed 1px #c3bdbd;
}

.panel-body{
  text-align: center;
}
.e-content{
  color: #000;
}
.v-content{
  color: #dd5a32;
  padding-top: 5px;
}
.bt{
  margin: 0 10px;
}
.video-show-detail{
  background-color: black;
  width: 100%;
  height: 80vh;
  min-height: calc(100vh - 181px);
  margin: auto;
  padding-bottom: 20px;
}
.lyric-show{
  border: 1px solid #f9f9f9;
  padding: 10px 5px;
  background-color: #f9f9f9;
  height: calc(80vh + 41px);
  min-height: calc(100vh - 181px);
  overflow-y: auto;
}
::ng-deep .icon-star {
  margin-right: 10px;
}
::ng-deep .icon-star-empty {
  margin-right: 10px;
}
.control-video{
  background: #000;
  height: 50px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -9px;
}
.control-video button{
  margin-left: 25px;
  width: 60px;
}
.control-video button:hover{

  background-color: aliceblue;

}

.hide-control button{
  display: none;
}
@media only screen and (max-width: 480px) {
  .video-show-detail{
    height: 35vh;
    min-height: calc(100vh - 600px);
  }
  .lyric-show{
    height: 50vh;
    min-height: calc(100vh - 600px);
  }
}

